.container__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container__body h1 {
    align-items: center;
    text-align: center;
    
    font-family: 'Roboto', sans-serif;
    font-size: 32px;

    color: rgb(255, 255, 255);
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.97);

    font-weight: bold;
}


.container__body p {
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    color:#ffffff;  
   
}

.container__body ul {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    color:rgb(255, 255, 255);
   
}
.container--div1 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background: #9400d3;
    
    padding: 30px;
}


.container--div1--1 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.container--div1--1 iframe {
    border: 2px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(2px 4px 8px rgb(255, 255, 255));
}

.container--div1--2 {
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 

    padding-left: 80px;
    padding-right: 50px;
}
.container--div1--3 {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    padding-right: 10%;
}
.container--div2 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background: #9400d3;
    
    padding: 30px;
}

.container--div2--1 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-left: 10%;
}
.container--div2--2 {
    width: 300px;
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center; 

    padding-left: 80px;
    padding-right: 50px;
}
.container--div2--3 {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;

    color: rgb(0, 0, 0);
}

.container--div2--3 iframe {
    border: 2px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(2px 4px 8px rgb(255, 255, 255));
}

.container--div3 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background: #9400d3;
    

    padding: 30px;
}

.container--div3--1 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.container--div3--1 iframe {
    border: 2px solid #ffffff;
    border-radius: 20px 20px 30px 30px;
    filter: drop-shadow(2px 4px 8px rgb(255, 255, 255));
}
.container--div3--2 {
    width: 300px;
    height: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center; 

    padding-left: 80px;
    padding-right: 50px;
}
.container--div3--3 {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;

    padding-right: 10%;

    color: rgb(0, 0, 0);
}
.container--div3--3 ul {
    text-align: left;
}

.container--div4 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background: #9400d3;

    padding: 30px;
}

.container--div4--1 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-left: 10%;
}
.container--div4--2 {
    width: 300px;
    height: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center; 

    padding-left: 80px;
    padding-right: 50px;
}
.container--div4--3 {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    color: rgb(0, 0, 0);
}
.container--div4--3 iframe {
    border: 2px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(2px 4px 8px rgb(255, 255, 255));
}
.container--div5 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background: #9400d3;

    padding: 30px;
}

.container--div5--1 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.container--div5--1 iframe {
    border: 2px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(2px 4px 8px rgb(255, 255, 255));
}
.container--div5--2 {
    width: 300px;
    height: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center; 

    padding-left: 80px;
    padding-right: 50px;
}
.container--div5--3 {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    color: rgb(0, 0, 0);
    padding-right: 10%;
}

.container--div6 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background: #9400d3;

    padding: 30px;
}

.container--div6--1 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-left: 10%;
}
.container--div6--2 {
    width: 300px;
    height: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center; 

    padding-left: 80px;
    padding-right: 50px;
}
.container--div6--3 {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    color: rgb(0, 0, 0);
}
.container--div6--3 iframe {
    border: 2px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(2px 4px 8px rgb(255, 255, 255));
}
.container--div7 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background: #9400d3;

    padding: 30px;
}

.container--div7--1 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.container--div7--1 iframe {
    border: 2px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(2px 4px 8px rgb(255, 255, 255));
}
.container--div7--2 {
    width: 300px;
    height: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center; 

    padding-left: 80px;
    padding-right: 50px;
}
.container--div7--3 {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    color: rgb(0, 0, 0);
    padding-right: 10%;
}

.container--div8 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background: #9400d3;

    padding: 30px;
}

.container--div8--1 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-left: 10%;
}
.container--div8--2 {
    width: 300px;
    height: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center; 

    padding-left: 80px;
    padding-right: 50px;
}
.container--div8--3 {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    color: rgb(0, 0, 0);
}
.container--div8--3 iframe {
    border: 2px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(2px 4px 8px rgb(255, 255, 255));
}
.container--div9 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background: #9400d3;

    padding: 30px;
}

.container--div9--1 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.container--div9--3 iframe {
    border: 2px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(2px 4px 8px rgb(255, 255, 255));
}
.container--div9--2 {
    width: 300px;
    height: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center; 

    padding-left: 80px;
    padding-right: 50px;
}
.container--div9--3 {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    color: rgb(0, 0, 0);
}

.container--div10 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background: #9400d3;

    padding: 30px;
}

.container--div10--1 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.container--div10--1 iframe {
    border: 2px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(2px 4px 8px rgb(255, 255, 255));
}
.container--div10--2 {
    width: 300px;
    height: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center; 

    padding-left: 80px;
    padding-right: 50px;
}
.container--div10--3 {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    color: rgb(0, 0, 0);
}

.linhacontainer--1 {
    width: 100%;
    height: 2px;
    background: #ffffff;
    color: #ffffff;
}

.linhacontainer--2 {
    width: 100%;
    height: 2px;
    background: #9400d3;
    color: #9400d3;
}

.linhacontainer--3 {
    width: 100%;
    height: 2px;
    background: #ffffff;
    color: #ffffff;
}

@media screen and (max-width: 460px) {
    .container__body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .container__body h1 {
        font-size: 20px;

    }
    .container__body p {
        font-size: 13px;
    }
    
    .container__body ul {
        font-size: 13px;
    }
    .container--div1 {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div1--1 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div1--1 iframe {
        width: 100%;
        height: 100%;    
    }

    .container--div1--2 {
        display: none;
    }
    .container--div1--3 {
        width: 100%;
        height: 100%;
        padding-left: 10%;
    }

    .container--div2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div2--1 {
        width: 100%;
        height: 100%;
        padding-left: 5%; 
    }
    .container--div2--2 {
        display: none;
    }
    .container--div2--3 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div2--3 iframe {
        width: 100%;
        height: 100%;    
    }

    .container--div3 {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div3--1 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div3--1 iframe {
        width: 100%;
        height: 100%;    
    }

    .container--div3--2 {
        display: none;
    }
    .container--div3--3 {
        width: 100%;
        height: 100%;
    }
    .container--div3--3 ul {
        text-align: left;
    }
    .container--div4 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div4--1 {
        width: 100%;
        height: 100%;  
        padding-left: 5%;
    }
    .container--div4--2 {
        display: none;
    }
    .container--div4--3 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div4--3 iframe {
        width: 100%;
        height: 100%;    
    }
    .container--div5 {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div5--1 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div5--1 iframe {
        width: 100%;
        height: 100%;    
    }

    .container--div5--2 {
        display: none;
    }
    .container--div5--3 {
        width: 100%;
        height: 100%;
        padding-left: 10%;
    }
    .container--div6 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div6--1 {
        width: 100%;
        height: 100%;  
        padding-left: 2%;
    }
    .container--div6--2 {
        display: none;
    }
    .container--div6--3 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div6--3 iframe {
        width: 100%;
        height: 100%;    
    }
    .container--div7 {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div7--1 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div7--1 iframe {
        width: 100%;
        height: 100%;    
    }

    .container--div7--2 {
        display: none;
    }
    .container--div7--3 {
        width: 100%;
        height: 100%;
        padding-left: 7%;
    }
    .container--div8 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div8--1 {
        width: 100%;
        height: 100%;  
        padding-left: 3%;
    }
    .container--div8--2 {
        display: none;
    }
    .container--div8--3 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div8--3 iframe {
        width: 100%;
        height: 100%;    
    }
}
@media screen and (max-width: 1260px) {
    .container__body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .container__body h1 {
        font-size: 20px;

    }
    .container__body p {
        font-size: 13px;
        color:rgb(233, 232, 243);
    }

    .container__body ul {
        font-size: 13px;
    }

    .divisorcontainer {
        display: none;

    }
    .container--div1 {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div1--1 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div1--1 iframe {
        width: 100%;
        height: 100%;    
    }

    .container--div1--2 {
        display: none;
    }
    .container--div1--3 {
        width: 100%;
        height: 100%;
    }

    .container--div2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div2--1 {
        width: 100%;
        height: 100%;  
    }
    .container--div2--2 {
        display: none;
    }
    .container--div2--3 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div2--3 iframe {
        width: 100%;
        height: 100%;    
    }

    .container--div3 {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div3--1 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div3--1 iframe {
        width: 100%;
        height: 100%;    
    }

    .container--div3--2 {
        display: none;
    }
    .container--div3--3 {
        width: 100%;
        height: 100%;
    }
    .container--div3--3 ul {
        text-align: left;
    }
    .container--div4 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div4--1 {
        width: 100%;
        height: 100%;  
    }
    .container--div4--2 {
        display: none;
    }
    .container--div4--3 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div4--3 iframe {
        width: 100%;
        height: 100%;    
    }
    .container--div5 {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div5--1 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div5--1 iframe {
        width: 100%;
        height: 100%;    
    }

    .container--div5--2 {
        display: none;
    }
    .container--div5--3 {
        width: 100%;
        height: 100%;
    }
    .container--div6 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div6--1 {
        width: 100%;
        height: 100%;  
    }
    .container--div6--2 {
        display: none;
    }
    .container--div6--3 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div6--3 iframe {
        width: 100%;
        height: 100%;    
    }
    .container--div7 {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div7--1 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div7--1 iframe {
        width: 100%;
        height: 100%;    
    }

    .container--div7--2 {
        display: none;
    }
    .container--div7--3 {
        width: 100%;
        height: 100%;
    }
    .container--div8 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .container--div8--1 {
        width: 100%;
        height: 100%;  
    }
    .container--div8--2 {
        display: none;
    }
    .container--div8--3 {
        width: 100%;
        height: 315px;  

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container--div8--3 iframe {
        width: 100%;
        height: 100%;    
    }
}
