.initial {
    margin: 0px;
    margin-left: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    
    background: #9400d3;
}

.div--initial1 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
}

.div--initial1--1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    background: #9400d3;
    padding-left: 10%;
}

.div--initial1--1 h1 {
    font-size: 30px;

    padding: 30px;

    color: #FFFF;
    text-shadow: -2px 3px 2px rgba(0, 0, 0, 0.97);
    font-weight: bold;
}

.div--initial1--1 p {
    color : rgb(255, 255, 255);
    font-size: 16px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.div--initial1--2 {
    display: none;
}

.div--initial1--3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 30px;
    
    background: #9400d3;
    padding-right: 10%;
}

.div--initial1--3  iframe {
    border: 3px groove #FFFF;
    border-radius: 10px 10px 10px 10px;
    filter: drop-shadow(2px 4px 8px rgb(255, 255, 255));
}

@media screen and (max-width: 460px) {
    .initial {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .div--initial1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    .div--initial1--1 {
        width: 100%;
        height: 100%;
        padding-left: 4px;
    }

    .div--initial1--1  h1 {
        font-size: 18px;
    }

    .div--initial1--1 p {
        font-size: 13px;
    }

    .div--initial--3 {
        width: 100%;
        height: 100%;
    }

    .div-initial1--3 iframe {
        width: 100%;
        height: 300px;

        padding-left: 0px;
    }
}

@media screen and (max-width: 1260px) {
    .initial {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .div--initial1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .div--initial1--1 {
        width: 100%;
        height: 100%;
    }

    .div--initial1--1  h1 {
        font-size: 18px;
    }

    .div--initial1--1 p {
        font-size: 13px;
    }

    .div--initial--3 {
        width: 100%;
        height: 315px;
    }
}
